* {
    font-size: 16px;
    box-sizing: border-box;
}

body {
    background-color: #E5E5E5;
}

@font-face {
    font-family: 'BPG Classic Medium';
    src: url('../assets/fonts/bpg-classic/bpg-classic-medium-webfont.eot');
    src: url('../assets/fonts/bpg-classic/bpg-classic-medium-webfont.eot?#iefix') format('embedded-opentype'),
    url('../assets/fonts/bpg-classic/bpg-classic-medium-webfont.woff2') format('woff2'),
    url('../assets/fonts/bpg-classic/bpg-classic-medium-webfont.woff') format('woff'),
    url('../assets/fonts/bpg-classic/bpg-classic-medium-webfont.ttf') format('truetype'),
    url('../assets/fonts/bpg-classic/bpg-classic-medium-webfont.svg#bpg_classic_mediumregular') format('svg');
    font-weight: 600;
}

@font-face {
    font-family: 'BPG Arial Caps';
    src: url('../assets/fonts/bpg-arial-caps/bpg-arial-caps-webfont.eot'); /* IE9 Compat Modes */
    src: url('../assets/fonts/bpg-arial-caps/bpg-arial-caps-webfont.eot?#iefix') format('embedded-opentype'),
    url('../assets/fonts/bpg-arial-caps/bpg-arial-caps-webfont.woff2') format('woff2'),
    url('../assets/fonts/bpg-arial-caps/bpg-arial-caps-webfont.woff') format('woff'),
    url('../assets/fonts/bpg-arial-caps/bpg-arial-caps-webfont.ttf') format('truetype'),
    url('../assets/fonts/bpg-arial-caps/bpg-arial-caps-webfont.svg#bpg_arial_capsregular') format('svg');
}

@font-face {
    font-family: 'BPG Arial';
    src: url('../assets/fonts/bpg-arial/bpg-arial-webfont.eot'); /* IE9 Compat Modes */
    src: url('../assets/fonts/bpg-arial/bpg-arial-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../assets/fonts/bpg-arial/bpg-arial-webfont.woff2') format('woff2'), /* Super Modern Browsers */
    url('../assets/fonts/bpg-arial/bpg-arial-webfont.woff') format('woff'), /* Pretty Modern Browsers */
    url('../assets/fonts/bpg-arial/bpg-arial-webfont.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../assets/fonts/bpg-arial/bpg-arial-webfont.svg#bpg_arialregular') format('svg'); /* Legacy iOS */
}

