.dashboard {
    /*background-color: #d1d1d1;*/
    box-shadow: 0 0 10px #a4a2a2;
    padding: 1.5rem 3rem;
    height: 90%;
    width: 95%;
    margin: 2rem auto;
    display: flex;
}

.dashboard__menu {
    width: 20%;
    border-right: 2px solid #a4a2a2;
    padding: 1rem;
}

.dashboard__menu__item.active{
    background-color: #000000;
    color: #ffffff;
}

.dashboard__content {
    width: 80%;
    overflow: auto;
    padding: 1rem;
}

.dashboard__sub-section {
    box-shadow: 0 0 10px #a4a2a2;
    padding: 1.5rem;
    margin-bottom: 2rem;
}

.dashboard__sub-section__heading {
    font-family: "BPG Arial Caps";
    border-bottom: 1px solid #000000;
}

.dashboard__sub-section__edit-form {
    box-shadow: 0 0 10px #a4a2a2;
    padding: 1rem;
    margin-bottom: 3rem;
}

.dashboard__sub-section__edit-form__text {
    inline-size: 90%;
    overflow-wrap: break-word;
    height: 4rem;
    overflow: auto;
    border: 1px solid #ced4da;
    padding: 0 0.5rem;
    border-radius: 0.25rem;
}

.dashboard__sub-section__change-image {
    cursor: pointer;
}

.dashboard__sub-section__upload-label {
    cursor: pointer;
}

.dashboard__sub-section__upload-label img {
    width: 3rem;
}

.dashboard__sub-section__add-form {
    box-shadow: 0 0 10px #a4a2a2;
    padding: 1rem;
}

.form__input input {
    text-overflow: ellipsis;
    display: inline;
}

.form__textarea {
    display: flex;
}

.form__input {
    display: flex;
    align-items: center;
}

.form__textarea span, .form__input span {
    margin-right: 0.5rem;
    margin-top: 0.1rem;
    width: 5rem;
}

.form__textarea textarea {
    resize: none;
}

.highlighted-input {
    border: 1px solid black;
}

.edit-button, .submit-button, .cancel-button {
    max-height: 3rem;
}

.cancel-button {
    margin-left: 1rem;
}

.gallery-img {
    height: 20rem;
    width: 100%;
}

.donation-visibility {
    background: none;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

.active + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

.active + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.donation-sub-section h3{
    font-family: "BPG Arial Caps";
}
