.home {
    height: 100%;
    background-color: #E5E5E5;
}

#imageCarousel {
    height: 100%;
}

.carousel-indicators {
    width: 0.625rem;
    height: 0.625rem;
    border-radius: 100%;
}

.carousel-item {
    height: 90vh;
}

.carousel-item img {
    object-fit: contain;
    float: right;
}

.carousel-item > div {
    background-repeat: no-repeat;
    background-size: cover;
}

.home__text-section__text-slider__text {
    font-family: BPG Classic Medium;
    font-size: 1.125rem;
    height: 12rem;
    overflow: hidden;
    text-overflow: ellipsis;
}

.home__text-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.home__text-section__title {
    font-family: BPG Classic Medium;
    font-size: 2rem;
    line-height: 2.5rem;
    width: 50%;
    margin-bottom: 3rem;
}

.home__text-section__text-slider {
    width: 50%;
    margin-bottom: 7rem;
    display: flex;
    position: relative;
}

.home__text-section__donate {
    width: 50%;
    margin-bottom: 5rem;
}

.home__text-section__donate__part-one {
    font-family: Helvetica Neue;
    color: #404040;
    font-weight: 500;
    font-size: 1.125rem;
}

.home__text-section__donate__part-two {
    font-family: Helvetica Neue;
    font-feature-settings: 'case' on;
    color: #404040;
    font-weight: 700;
    font-size: 1.5625rem;
}

.home__slider-indicators {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    gap: 0.5rem;
    position: absolute;
    right: -10rem;
}

.home__slider-indicator {
    width: 0.8125rem;
    height: 0.8125rem;
    border-radius: 100%;
    background-color: #D9D9D9;
    cursor: pointer;
}

.home__slider-indicator__active {
    background-color: #FFFFFF;
}

@media screen and (max-width: 1500px) {
    .home__text-section__title,
    .home__text-section__donate,
    .home__text-section__text-slider {
        width: 70%;
    }

    .home__slider-indicators {
        right: -5rem;
    }
}

@media screen and (max-width: 1199px) {
    .home {
        height: auto;
    }

    .home__text-section {
        justify-content: unset;
        padding: 3rem;
        position: relative;
    }

    .home__text-section__title,
    .home__text-section__donate,
    .home__text-section__text-slider {
        width: 100%;
    }

    .home__text-section__title {
        font-size: 1.5rem;
    }

    .home__text-section__text-slider {
        position: unset;
        margin-bottom: 0;
    }

    .carousel-item img {
        float: unset;
        width: 100%;
        margin: auto;
        height: 30rem !important;
    }

    .home__slider-indicators {
        flex-direction: row;
        left: 50%;
        transform: translateX(-50%);
        bottom: 2rem;
        height: auto;
    }

    .carousel-item {
        height: 100%;
    }

    #carouselText .carousel-item {
        height: 15rem;
    }

    .home__text-section__donate__part-one {
        font-size: 2rem;
    }

    .home__text-section__donate__part-two {
        font-size: 2.5rem;
    }

    .home__text-section__text-slider__text {
        font-size: 1rem;
    }
}
