.home {
    height: 100%;
    background-color: #e5e5e5;
}

#imageCarousel {
    height: 100%;
}

#imageCarousel .carousel-item .slider-image-title {
    position: static;
    color: inherit;
    background-color: transparent;
    padding: 0;
    border-radius: 0;
    max-width: none;
    white-space: normal;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
    hyphens: auto;
}

.carousel-indicators {
    width: 0.625rem;
    height: 0.625rem;
    border-radius: 100%;
}

.carousel-item {
    height: 90vh;
}

.carousel-item img {
    object-fit: contain;
    float: left;
}

.carousel-item > div {
    background-repeat: no-repeat;
    background-size: cover;
}

.home__text-section__text-slider__text {
    font-family: BPG Classic Medium;
    font-size: 1.125rem;
}

.home__text-section__text-slider__text-desc {
    font-family: BPG Classic Medium;
    font-size: 1.125rem;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
}

.home__text-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.home__text-section__title {
    font-family: BPG Classic Medium;
    font-size: 2rem;
    line-height: 2.5rem;
    width: 50%;
    margin-top: 2rem;
    margin-bottom: 3rem;
}

.news-title-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.news-title-container__title-news {
    font-family: BPG Classic Medium;
    font-size: 2rem;
    line-height: 2.5rem;
    margin-top: 2rem;
    margin-bottom: 3rem;
}

.news-title-container__title-all-news {
    font-family: BPG Arial Caps;
    font-size: 2rem;
    line-height: 2.5rem;
    margin-top: 2rem;
    margin-bottom: 3rem;
}

.news-title-container__all-news {
    font-family: BPG Classic Medium;
    font-size: 1.5rem;
    margin-top: 2rem;
    margin-bottom: 3rem;
    cursor: pointer;
    color: #959595;
}

.news-title-container__all-news a {
    font-size: 1.5rem;
}

.news-title-container__all-news::after {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background: #959595;
}

.news-container__item {
    margin-bottom: 2.75rem;
}

.news-container__item__img img {
    width: 25.25rem;
    object-fit: contain;
    height: 15rem;
}

.news-container__item__text {
    font-family: BPG Classic Medium;
}

.news-container__item__text__date,
.news-container__item__text__desc {
    font-size: 1.125rem;
    margin-bottom: 1.4rem;
}

.news-container__item__text__desc {
    height: 5rem;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.news-container__item__text__title {
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
}

#news-container .news-container__item__text__title {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    word-wrap: break-word;
    word-break: break-word;
    hyphens: auto;
}

.news-container__item__text__read-more a {
    font-family: Helvetica Neue;
}

.news-container__item__text__read-more span {
    margin-right: 0.625rem;
    font-size: 1.125rem;
    font-weight: 500;
    font-family: Helvetica Neue;
}

.news-container__item__text__read-more .arrow-icon {
    height: 0.5rem;
    margin: 0;
    width: auto;
}

.news-container__pagination__item {
    font-family: BPG Classic Medium;
    font-size: 1.625rem;
    height: 2rem;
    cursor: pointer;
}

.home__text-section__text-slider {
    width: 50%;
    margin-bottom: 7rem;
    display: flex;
    position: relative;
}

.news-container__pagination__item--active {
    text-decoration: underline;
}

.news-container__pagination {
    align-items: center;
    gap: 0.2rem;
}

.news-container__pagination img {
    cursor: pointer;
    width: 2.4375rem;
    margin: 0 1rem;
}

.home__text-section__donate {
    width: 50%;
    margin-bottom: 5rem;
}

.news-tag {
    left: 2rem;
    top: 2rem;
    font-family: BPG Classic Medium;
    font-size: 1.4rem;
    padding: 0.625rem 1rem 0.3rem 1rem;
    border: 1px solid #000000;
    border-radius: 1.375rem;
    background-color: rgba(255, 255, 255, 0.5);
}

.home__text-section__donate__part-one {
    font-family: Helvetica Neue;
    color: #404040;
    font-weight: 500;
    font-size: 1.125rem;
}

.home__text-section__donate__part-two {
    font-family: Helvetica Neue;
    font-feature-settings: "case" on;
    color: #404040;
    font-weight: 700;
    font-size: 1.5625rem;
}

.home__slider-indicators {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    gap: 0.5rem;
    position: absolute;
    right: -10rem;
}

.home__slider-indicator {
    width: 0.8125rem;
    height: 0.8125rem;
    border-radius: 100%;
    background-color: #d9d9d9;
    cursor: pointer;
}

.home__slider-indicator__active {
    background-color: #ffffff;
}

.video-icon {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}

.carousel-item__img-container {
    position: relative;
    height: 100%;
    display: flex;
    float: right;
    width: 100%;
    justify-content: flex-start;
}

.video__url {
    position: absolute;
    width: 100%;
    height: 100%;
}

#carouselText .carousel-item .home__text-section__title {
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
    white-space: normal;
    word-wrap: break-word;
    word-break: break-word;
    hyphens: auto;
    line-height: 1.5;
}

#carouselText .carousel-item .home__text-section__text-slider__text-desc {
    display: -webkit-box;
    -webkit-line-clamp: 7;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
    white-space: normal;
    word-wrap: break-word;
    word-break: break-word;
    hyphens: auto;
    line-height: 1.5;
}

@media screen and (max-width: 1500px) {
    .home__text-section__title,
    .home__text-section__donate,
    .home__text-section__text-slider {
        width: 70%;
    }

    .home__slider-indicators {
        right: -5rem;
    }
}

@media screen and (max-width: 1199px) {
    .home {
        height: auto;
    }

    .home__text-section {
        justify-content: unset;
        padding: 3rem;
        position: relative;
    }

    .home__text-section__title,
    .home__text-section__donate,
    .home__text-section__text-slider {
        width: 100%;
    }

    .home__text-section__title {
        font-size: 1.5rem;
    }

    .home__text-section__text-slider {
        position: unset;
        margin-bottom: 0;
    }

    .carousel-item img {
        float: unset;
        width: 100%;
        margin: auto;
        height: 30rem;
    }

    .video-icon {
        height: 5rem !important;
    }

    .home__slider-indicators {
        flex-direction: row;
        left: 50%;
        transform: translateX(-50%);
        top: 2rem;
        height: auto;
    }

    .carousel-item {
        height: 100%;
    }

    #carouselText .carousel-item {
        height: 15rem;
    }

    .home__text-section__text-slider__text {
        height: 20rem !important;
    }

    .home__text-section__text-slider__text-desc {
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
    }

    .home__text-section__donate__part-one {
        font-size: 2rem;
    }

    .home__text-section__donate__part-two {
        font-size: 2.5rem;
    }

    .home__text-section__text-slider__text {
        font-size: 1rem;
    }

    .news-container__item__img img {
        width: 100%;
    }

    .news-container__item {
        padding: 0.75rem;
    }

    #carouselText .carousel-item .home__text-section__title {
        -webkit-line-clamp: 2;
    }

    #carouselText .carousel-item .home__text-section__text-slider__text-desc {
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
    }
}
