.about-info {
    height: 100%;
}

.about-info__text-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.about-info__text-section__title {
    font-family: BPG Arial Caps;
    font-size: 2.25rem;
    line-height: 2.5625rem;
    width: 80%;
    margin-bottom: 10rem;
    margin-top: 5rem;
}

.about-info__text-section__text {
    width: 80%;
    margin-bottom: 2rem;
}

.about-info__text-section__text-one {
    font-family: BPG Classic Medium;
    font-size: 1.5rem;
    line-height: 2rem;
    margin-bottom: 2rem;
}

.about-info__text-section__text-two {
    font-family: BPG Classic Medium;
    font-size: 1rem;
}

.about-info__second-section {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.about-info__second-section__title {
    font-family: BPG Classic Medium;
    font-size: 2rem;
    line-height: 2.5625rem;
    margin-top: 4rem;
}

.about-info__second-section__title-two {
    font-family: BPG Classic Medium;
    font-size: 2rem;
    line-height: 2.5625rem;
    margin-bottom: 8rem;
}

.about-info__second-section__img {
    height: 20rem;
    object-fit: contain;
}

@media screen and (max-width: 1400px) {
    .about-info__text-section__title {
        margin-bottom: 3rem;
        margin-top: 5rem;
        font-size: 2rem;
    }

    .about-info__text-section__text-one {
        font-size: 1.3rem;
    }
}

@media screen and (max-width: 1199px) {
    .about-info__text-section {
        align-items: unset;
    }

    .about-info__text-section__title {
        margin-bottom: 3rem;
        margin-top: 2rem;
        width: 100%;
    }

    .about-info__text-section__text {
        width: 100%;
    }

    .about-info__text-section__text-one {
        font-size: 1.2rem;
    }

    .about-info__second-section__title,
    .about-info__second-section__title-two {
        display: none;
    }
}

@media screen and (max-width: 768px) {
    .about-info__text-section__text-one {
        font-size: 1rem;
    }

    .about-info__text-section__text-two {
        font-size: 0.9rem;
    }

}
