.donate__title {
    font-family: BPG Arial Caps;
    font-size: 2.25rem;
    line-height: 2.5625rem;
    margin-bottom: 3rem;
    margin-top: 3rem;
}

.donate__card {
    background-color: #F9F9F9;
    border-radius: 0.875rem;
    padding: 1rem;
}

.donate__card__text, .donate__card__text span {
    font-size: 1.5rem;
    font-family: BPG Classic Medium;
}

.donate__card__text .underline {
    text-decoration-line: underline;
}

.donate__card__title {
    font-family: BPG Arial Caps;
    font-size: 2rem;
}
