.nav {
    min-height: 3rem;
    display: flex;
    align-items: center;
    padding: 3rem 10rem;
    background-color: #FFFFFF;
    gap: 2rem;

    &__item {
        font-family: BPG Arial;
        font-feature-settings: normal;
        color: #000000;
    }

    &__item-highlighted {
        border: 1px solid #000000;
        border-radius: 0.875rem;
        padding: 0.2rem 0.775rem;
    }

    &__logo {
        max-width: 45rem;
        text-align: right;
        display: flex;
        align-items: center;
        gap: 2rem;
        overflow-wrap: break-word;

        &__title {
            font-family: BPG Classic Medium;
            font-size: 1.5625rem;
            line-height: 2rem;
        }
    }

    &__language {
        width: 2rem;
        padding: 0 3rem;

        &__select {
            font-family: 'BPG Arial Caps';
            font-size: 0.6875rem;
        }
    }

}
