.video__title {
    font-family: BPG Classic Medium;
    font-size: 2rem;
    margin-top: 1.875rem;
    margin-bottom: 1.875rem;
    word-break: break-word;
}

.news-page-tag {
    font-family: BPG Classic Medium;
    font-size: 1.4rem;
    padding: 0.325rem 2rem 0 2rem;
    border: 1px solid #000000;
    border-radius: 1.375rem;
    background-color: rgba(255, 255, 255, 0.5);
    display: inline-block;
    margin-top: 1.875rem;
}

.video__date {
    font-family: BPG Classic Medium;
    font-size: 1.5rem;
}

.video__iframe iframe {
    width: 100%;
    height: 37.5rem;
}

.video__iframe img {
    width: 100%;
    height: 37.5rem;
    object-fit: contain;
    object-position: left;
}

.video__desc {
    font-family: BPG Classic Medium;
    font-size: 1.3rem;
    margin: 1.875rem 0;
}

.video__text {
    font-family: BPG Classic Medium;
    font-size: 1rem;
    margin: 1.875rem 0;
}

@media screen and (max-width: 1199px) {
    .video__iframe iframe {
        height: 30rem;
    }
}

@media screen and (max-width: 768px) {
    .video__iframe iframe {
        height: 18rem;
    }
    .video__iframe img {
        object-position: center;
    }
}

@media screen and (max-width: 450px) {
    .video__iframe iframe {
        height: 15rem;
    }
}
