.nav {
    min-height: 7rem;
    width: 100%;
    /*display: flex;*/
    align-items: center;
    /*padding: 3rem 10rem;*/
    background-color: #FFFFFF;
    /*gap: 2rem;*/
    border-bottom: 1px solid #E1E1E1
}

.nav__item {
    font-family: 'BPG Arial';
    font-feature-settings: normal;
    color: #000000;
    font-weight: 600;
}

.nav__item-highlighted {
    border: 1px solid #000000;
    border-radius: 0.875rem;
    padding: 0.2rem 0.775rem;
}

.nav__logo {
    /*max-width: 45rem;*/
    text-align: right;
    /*display: flex;*/
    /*align-items: center;*/
    /*gap: 2rem;*/
    overflow-wrap: break-word;
}

.nav__logo__title div {
    font-family: 'BPG Classic Medium';
    font-size: 1.5rem;
}

.nav__language {
    padding: 0 3rem;
}

.nav__language__select {
    font-family: 'BPG Arial Caps';
    font-size: 0.6875rem;
    /*width: 3rem;*/
}

.nav__language__select:focus {
    outline: none;
}

.nav__language__select option {
    font-family: 'BPG Arial Caps';
    font-size: 0.6875rem;
}

.nav__logo-container-small {
    display: none;
}

@media screen and (max-width: 1600px) {
    .nav__logo__title div {
        font-size: 1.25rem;
    }

    .nav__logo-container-small {
        display: none;
    }
}

@media screen and (max-width: 1400px) {
    .nav__item a {
        font-size: 0.8rem;
    }

    .nav__logo-container-small {
        display: none;
    }
}

@media screen and (max-width: 1260px) {
    .nav__logo__title div {
        font-size: 1.1rem;
    }

    .nav__logo-container-small {
        display: none;
    }
}

@media screen and (max-width: 1200px) {
    .nav {
        padding: 1rem;
    }

    .nav__logo-container-big {
        display: none;
    }

    .nav__logo-container-small {
        display: block;
    }

    .nav__logo {
        flex-direction: column;
        text-align: center;
    }

    .nav__logo__title {
        order: 2;
    }

    .nav__logo__icon {
        order: 1;
        margin-bottom: 0.5rem;
    }

    .nav__item-container {
        justify-content: center;
        margin-top: 1rem;
    }

    .nav__language {
        position: absolute;
        top: 1rem;
        right: 3rem;
        width: 5rem;
    }

    .nav__item a {
        font-size: 1rem;
    }

    .nav__logo__title div {
        font-size: 1.3rem;
    }
}

@media screen and (max-width: 768px) {
    .nav__item a {
        font-size: 0.8rem;
    }

    .nav__logo__title div {
        font-size: 1.1rem;
    }
}

